<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

* Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

* Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

In [3]:
!pip install -q pandas==1.1.5

### CENSUS_DATA

In [49]:
%sql select * from CENSUS_DATA LIMIT 7

 * sqlite:///FinalDB.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0),
 (6.0, 'Lake View', 1.1, 11.4, 4.7, 2.6, 17.0, 60058, 5.0),
 (7.0, 'Lincoln Park', 0.8, 12.3, 5.1, 3.6, 21.5, 71551, 2.0)]

### CHICAGO_PUBLIC_SCHOOLS_DATA

In [11]:

%sql select * from CHICAGO_PUBLIC_SCHOOLS_DATA LIMIT 5

 * sqlite:///FinalDB.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.4579999999, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61.0, 'NDA', 'NDA', 'Average', 50.0, 'Weak', 36.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', 18.3, 15.5, -0.9, -1.0, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56.0, 'Average', '44', 'Average', 45.0, 'Weak', 37.0, 'Weak', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', 10.4, '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', 11.1, 9.6, 0.9, 2.4, 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 1164504.29, 1873959.199, 41.8097569, -87.6721446, 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49.0, 'Strong', '60', 'Strong', 60.0, 'Average', 55.0, 'Weak', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', 15.6, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', 1175177.622, 1880745.126, 41.82814609, -87.63279369, 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)')]

### CHICAGO_CRIME_DATA

In [70]:

%sql select * from CHICAGO_CRIME_DATA LIMIT 4

 * sqlite:///FinalDB.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.807440500000006, -87.70395585, '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '2011-04-04', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 0, 0, 221, 2, 3.0, 38.0, '6', 1177436.0, 1876313.0, 2011, 41.81593313, -87.62464213, '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '2010-12-30', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 0, 0, 423, 4, 7.0, 46.0, '6', 1194622.0, 1850125.0, 2010, 41.74366532, -87.56246276, '(41.743665322, -87.562462756)')]

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [16]:
%sql SELECT COUNT(CASE_NUMBER) AS "#N° CRIMES RECORDED" FROM CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [18]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [63]:
%sql SELECT ROW_NUMBER() OVER (ORDER BY PRIMARY_TYPE) AS "#N° CASES RECORDED",PRIMARY_TYPE,DESCRIPTION  FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE LIKE "%CHILD%"

 * sqlite:///FinalDB.db
Done.

[(1, 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER'),
 (2, 'OFFENSE INVOLVING CHILDREN', 'AGG SEX ASSLT OF CHILD FAM MBR'),
 (3, 'OFFENSE INVOLVING CHILDREN', 'SEX ASSLT OF CHILD BY FAM MBR'),
 (4, 'OFFENSE INVOLVING CHILDREN', 'CRIM SEX ABUSE BY FAM MEMBER'),
 (5, 'OFFENSE INVOLVING CHILDREN', 'AGG CRIM SEX ABUSE FAM MEMBER')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [66]:
%sql SELECT ROW_NUMBER() OVER (ORDER BY PRIMARY_TYPE) AS "#N° CASES RECORDED",PRIMARY_TYPE,DESCRIPTION  FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE LIKE "%KIDNAPPING%" AND DESCRIPTION LIKE "%CHILD%"

 * sqlite:///FinalDB.db
Done.

[(1, 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [69]:
%sql SELECT ROW_NUMBER() OVER (ORDER BY PRIMARY_TYPE) AS "#N° CASES RECORDED",PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE "%SCHOOL%"

 * sqlite:///FinalDB.db
Done.

[(1, 'ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 (2, 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 (3, 'BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 (4, 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 (5, 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 (6, 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 (7, 'CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 (8, 'CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 (9, 'NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 (10, 'NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 (11, 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 (12, 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

### Problem 6

##### List the average safety score for each type of school.

In [54]:
%sql SELECT ROW_NUMBER() OVER (ORDER BY School_ID) AS "#N° CASES",School_ID,NAME_OF_SCHOOL,Safety_Icon FROM CHICAGO_PUBLIC_SCHOOLS_DATA WHERE Safety_Icon=="Average"

 * sqlite:///FinalDB.db
Done.

[(1, 609679, 'Charles Allen Prosser Career Academy High School', 'Average'),
 (2, 609691, 'North-Grand High School', 'Average'),
 (3, 609692, 'Neal F Simeon Career Academy High School', 'Average'),
 (4, 609694, 'John Hancock College Preparatory High School', 'Average'),
 (5, 609695, 'Roald Amundsen High School', 'Average'),
 (6, 609702, 'Richard T Crane Technical Preparatory High School', 'Average'),
 (7, 609704, 'David G Farragut Career Academy High School', 'Average'),
 (8, 609718, 'John F Kennedy High School', 'Average'),
 (9, 609722, 'Manley Career Academy High School', 'Average'),
 (10, 609723, 'John Marshall Metropolitan High School', 'Average'),
 (11, 609724, 'Stephen T Mather High School', 'Average'),
 (12, 609725, 'Morgan Park High School', 'Average'),
 (13, 609728, 'Theodore Roosevelt High School', 'Average'),
 (14, 609729, 'Carl Schurz High School', 'Average'),
 (15, 609730, 'Nicholas Senn High School', 'Average'),
 (16, 609739, 'George Washington High School', 'Average'),
 (17, 609740, 'Wells Community Academy High School', 'Average'),
 (18, 609741, 'Gurdon S Hubbard High School', 'Average'),
 (19, 609756, 'Marie Sklodowska Curie Metropolitan High School', 'Average'),
 (20, 609759, 'Roberto Clemente Community Academy High School', 'Average'),
 (21, 609760, 'George Washington Carver Military Academy High School', 'Average'),
 (22, 609764, 'Benito Juarez Community Academy High School', 'Average'),
 (23, 609766, 'Jacqueline B Vaughn Occupational High School', 'Average'),
 (24, 609772, 'Jane Addams Elementary School', 'Average'),
 (25, 609773, 'Louis A Agassiz Elementary School', 'Average'),
 (26, 609775, 'John P Altgeld Elementary School', 'Average'),
 (27, 609779, 'George Armstrong International Studies Elementary School', 'Average'),
 (28, 609781, 'Crispus Attucks Elementary School', 'Average'),
 (29, 609788, 'Alice L Barnard Computer Math & Science Center Elementary School', 'Average'),
 (30, 609792, 'Newton Bateman Elementary School', 'Average'),
 (31, 609793, 'Nicholson Technology Academy', 'Average'),
 (32, 609800, 'Frank I Bennett Elementary School', 'Average'),
 (33, 609804, 'Daniel Boone Elementary School', 'Average'),
 (34, 609807, 'Lionel Hampton Fine & Performing Arts Elementary School', 'Average'),
 (35, 609809, 'Lorenz Brentano Math & Science Academy Elementary School', 'Average'),
 (36, 609817, 'Lyman A Budlong Elementary School', 'Average'),
 (37, 609827, 'Burnside Elementary Scholastic Academy', 'Average'),
 (38, 609829, 'John C Burroughs Elementary School', 'Average'),
 (39, 609834, 'Little Village Elementary School', 'Average'),
 (40, 609835, 'Daniel R Cameron Elementary School', 'Average'),
 (41, 609837, 'Andrew Carnegie Elementary School', 'Average'),
 (42, 609853, 'Salmon P Chase Elementary School', 'Average'),
 (43, 609859, 'DeWitt Clinton Elementary School', 'Average'),
 (44, 609861, 'Henry R Clissold Elementary School', 'Average'),
 (45, 609872, 'Manuel Perez Elementary School', 'Average'),
 (46, 609874, 'Everett McKinley Dirksen Elementary School', 'Average'),
 (47, 609875, 'Charles R Darwin Elementary School', 'Average'),
 (48, 609876, 'Nathan S Davis Elementary School', 'Average'),
 (49, 609879, 'Charles Gates Dawes Elementary School', 'Average'),
 (50, 609883, 'Charles S Deneen Elementary School', 'Average'),
 (51, 609885, 'Dewey Elementary Academy of Fine Arts', 'Average'),
 (52, 609887, 'Arthur Dixon Elementary School', 'Average'),
 (53, 609888, 'Mary Mapes Dodge Elementary Renaissance Academy', 'Average'),
 (54, 609894, 'John B Drake Elementary School', 'Average'),
 (55, 609895, 'Turner-Drew Elementary Language Academy', 'Average'),
 (56, 609898, 'John F Eberhart Elementary School', 'Average'),
 (57, 609903, 'Richard Edwards Elementary School', 'Average'),
 (58, 609910, 'Laughlin Falconer Elementary School', 'Average'),
 (59, 609912, 'James B Farnsworth Elementary School', 'Average'),
 (60, 609913, 'Elaine O Goodlow Elementary Magnet School', 'Average'),
 (61, 609918, 'Eugene Field Elementary School', 'Average'),
 (62, 609920, 'Gerald Delgado Kanoon Elementary Magnet School', 'Average'),
 (63, 609921, 'Telpochcalli Elementary School', 'Average'),
 (64, 609925, 'Joseph Kellman Corporate Community Elementary School', 'Average'),
 (65, 609929, 'Robert Fulton Elementary School', 'Average'),
 (66, 609935, 'Matthew Gallistel Elementary Language Academy', 'Average'),
 (67, 609947, 'Alexander Graham Elementary School', 'Average'),
 (68, 609949, 'William P Gray Elementary School', 'Average'),
 (69, 609954, 'John Milton Gregory Elementary School', 'Average'),
 (70, 609958, 'Frank W Gunsaulus Elementary Scholastic Academy', 'Average'),
 (71, 609960, 'Nathan Hale Elementary School', 'Average'),
 (72, 609966, 'Charles G Hammond Elementary School', 'Average'),
 (73, 609967, 'William F Finkl Elementary School', 'Average'),
 (74, 609971, 'John Harvard Elementary School of Excellence', 'Average'),
 (75, 609972, 'Helge A Haugan Elementary School', 'Average'),
 (76, 609975, 'John Hay Elementary Community Academy', 'Average'),
 (77, 609988, 'Patrick Henry Elementary School', 'Average'),
 (78, 609989, 'Victor Herbert Elementary School', 'Average'),
 (79, 609991, 'Theodore Herzl Elementary School', 'Average'),
 (80, 609993, 'Agustin Lara Elementary Academy', 'Average'),
 (81, 609996, 'Charles N Holden Elementary School', 'Average'),
 (82, 610003, 'Paul Cuffe Math-Science Technology Academy Elementary School', 'Average'),
 (83, 610005, 'Charles Evans Hughes Elementary School', 'Average'),
 (84, 610012, 'Edward Jenner Elementary Academy of the Arts', 'Average'),
 (85, 610013, 'Pilsen Elementary Community Academy', 'Average'),
 (86, 610018, 'Miriam G Canter Middle School', 'Average'),
 (87, 610023, 'William H King Elementary School', 'Average'),
 (88, 610027, 'Rudyard Kipling Elementary School', 'Average'),
 (89, 610029, 'Rodolfo Lozano Bilingual & International Center Elementary School', 'Average'),
 (90, 610031, 'Jean D Lafayette Elementary School', 'Average'),
 (91, 610041, 'Josephine C Locke Elementary School', 'Average'),
 (92, 610043, 'Joseph Lovett Elementary School', 'Average'),
 (93, 610046, 'Mary Lyon Elementary School', 'Average'),
 (94, 610048, 'George Manierre Elementary School', 'Average'),
 (95, 610058, 'Horatio May Elementary Community Academy', 'Average'),
 (96, 610061, 'William J & Charles H Mayo Elementary School', 'Average'),
 (97, 610062, 'George B McClellan Elementary School', 'Average'),
 (98, 610074, 'James Monroe Elementary School', 'Average'),
 (99, 610076, 'Bernhard Moos Elementary School', 'Average'),
 (100, 610085, 'Near North Elementary School', 'Average'),
 (101, 610088, 'Wolfgang A Mozart Elementary School', 'Average'),
 (102, 610092, 'Henry H Nash Elementary School', 'Average'),
 (103, 610093, 'Jane A Neil Elementary School', 'Average'),
 (104, 610094, 'Louis Nettelhorst Elementary School', 'Average'),
 (105, 610097, 'William P Nixon Elementary School', 'Average'),
 (106, 610102, 'Richard J Oglesby Elementary School', 'Average'),
 (107, 610109, 'William Bishop Owen Scholastic Academy Elementary School', 'Average'),
 (108, 610110, 'Ida B Wells Preparatory Elementary Academy', 'Average'),
 (109, 610117, 'Louis Pasteur Elementary School', 'Average'),
 (110, 610119, 'Elizabeth Peabody Elementary School', 'Average'),
 (111, 610120, 'Ferdinand Peck Elementary School', 'Average'),
 (112, 610121, 'Washington Irving Elementary School', 'Average'),
 (113, 610122, 'Helen Peirce International Studies Elementary School', 'Average'),
 (114, 610125, 'Irma C Ruiz Elementary School', 'Average'),
 (115, 610128, 'Marcus Moziah Garvey Elementary School', 'Average'),
 (116, 610129, 'Josiah Pickard Elementary School', 'Average'),
 (117, 610131, 'Ambrose Plamondon Elementary School', 'Average'),
 (118, 610134, 'Nathaniel Pope Elementary School', 'Average'),
 (119, 610139, 'George M Pullman Elementary School', 'Average'),
 (120, 610141, 'Ravenswood Elementary School', 'Average'),
 (121, 610143, 'William C Reavis Math & Science Specialty Elementary School', 'Average'),
 (122, 610144, 'Frank W Reilly Elementary School', 'Average'),
 (123, 610148, 'Cesar E Chavez Multicultural Academic Center Elementary School', 'Average'),
 (124, 610152, 'Martha Ruggles Elementary School', 'Average'),
 (125, 610154, 'Martin A Ryerson Elementary School', 'Average'),
 (126, 610156, 'Louis Armstrong Math & Science Elementary School', 'Average'),
 (127, 610157, 'Sidney Sawyer Elementary School', 'Average'),
 (128, 610159, 'Jonathan Y Scammon Elementary School', 'Average'),
 (129, 610167, 'William H Seward Communication Arts Academy Elementary School', 'Average'),
 (130, 610170, 'Columbia Explorers Elementary Academy', 'Average'),
 (131, 610175, 'Beulah Shoesmith Elementary School', 'Average'),
 (132, 610178, 'Theophilus Schmid Elementary School', 'Average'),
 (133, 610179, 'Washington D Smyser Elementary School', 'Average'),
 (134, 610187, 'Graeme Stewart Elementary School', 'Average'),
 (135, 610188, 'Dunne Technology Academy', 'Average'),
 (136, 610194, 'Charles Sumner  Math & Science Community Acad Elementary School', 'Average'),
 (137, 610205, 'Lyman Trumbull Elementary School', 'Average'),
 (138, 610209, 'Alessandro Volta Elementary School', 'Average'),
 (139, 610215, 'Francisco I Madero Middle School', 'Average'),
 (140, 610217, 'James Ward Elementary School', 'Average'),
 (141, 610219, 'George Washington Elementary School', 'Average'),
 (142, 610221, 'Daniel Webster Elementary School', 'Average'),
 (143, 610225, 'John Whistler Elementary School', 'Average'),
 (144, 610227, 'Eli Whitney Elementary School', 'Average'),
 (145, 610229, 'A.N. Pritzker School', 'Average'),
 (146, 610234, 'Richard Yates Elementary School', 'Average'),
 (147, 610237, 'Ludwig Van Beethoven Elementary School', 'Average'),
 (148, 610238, 'Carrie Jacobs Bond Elementary School', 'Average'),
 (149, 610242, 'Joseph Brennemann Elementary School', 'Average'),
 (150, 610243, 'John Calhoun North Elementary School', 'Average'),
 (151, 610245, 'Frederick A Douglass Academy High School', 'Average'),
 (152, 610246, 'Edward Beasley Elementary Magnet Academic Center', 'Average'),
 (153, 610252, 'Robert Nathaniel Dett Elementary School', 'Average'),
 (154, 610254, 'Dvorak Technology Academy', 'Average'),
 (155, 610257, 'Morton School of Excellence', 'Average'),
 (156, 610263, 'John Foster Dulles Elementary School', 'Average'),
 (157, 610269, 'John T McCutcheon Elementary School', 'Average'),
 (158, 610276, 'Irvin C Mollison Elementary School', 'Average'),
 (159, 610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'Average'),
 (160, 610287, 'Ashburn Community Elementary School', 'Average'),
 (161, 610291, 'Richard Henry Lee Elementary School', 'Average'),
 (162, 610304, 'Phoenix Military Academy High School', 'Average'),
 (163, 610313, 'Jose De Diego Elementary Community Academy', 'Average'),
 (164, 610317, 'Brighton Park Elementary School', 'Average'),
 (165, 610320, 'Ana Roque de Duprey Elementary School', 'Average'),
 (166, 610325, 'Logandale Middle School', 'Average'),
 (167, 610329, 'Orozco Fine Arts & Sciences Elementary School', 'Average'),
 (168, 610334, 'Al Raby High School', 'Average'),
 (169, 610336, 'Williams Preparatory Academy Middle School', 'Average'),
 (170, 610340, 'Chicago Academy High School', 'Average'),
 (171, 610348, 'Nathan R Goldblatt Elementary School', 'Average'),
 (172, 610353, 'Calmeca Academy of Fine Arts and Dual Language', 'Average'),
 (173, 610364, 'William E B Dubois Elementary School', 'Average'),
 (174, 610365, 'Mary McLeod Bethune Elementary School', 'Average'),
 (175, 610380, 'Daniel Hale Williams Prep School of Medicine', 'Average'),
 (176, 610381, 'Bronzeville Scholastic Academy High School', 'Average'),
 (177, 610383, 'Greater Lawndale High School For Social Justice', 'Average'),
 (178, 610384, 'Infinity Math Science and Technology High School', 'Average'),
 (179, 610385, 'Multicultural Academy of Scholarship', 'Average'),
 (180, 610392, 'World Language Academy High School', 'Average'),
 (181, 610394, 'Uplift Community High School', 'Average'),
 (182, 610395, 'Pershing West Middle School', 'Average'),
 (183, 610396, 'Tarkington School of Excellence Elementary School', 'Average'),
 (184, 610502, 'Marine Military Math and Science Academy', 'Average'),
 (185, 610506, 'TEAM Englewood Community Academy High School', 'Average'),
 (186, 610513, 'Air Force Academy High School', 'Average'),
 (187, 610518, 'VOISE Academy High School', 'Average'),
 (188, 610529, 'Ogden International High School', 'Average'),
 (189, 610535, 'Mason High School', 'Average'),
 (190, 610539, 'Marvin Camras Elementary School', 'Average'),
 (191, 610541, 'Federico Garcia Lorca Elementary School', 'Average'),
 (192, 610544, 'Mariano Azuela Elementary School', 'Average')]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [79]:
%sql SELECT COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone?

In [83]:
%sql SELECT COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA WHERE PERCENT_HOUSEHOLDS_BELOW_POVERTY = (SELECT MAX(PERCENT_HOUSEHOLDS_BELOW_POVERTY) FROM CENSUS_DATA)

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [84]:
%sql SELECT COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,HARDSHIP_INDEX FROM CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA)

 * sqlite:///FinalDB.db
Done.

[(54.0, 'Riverdale', 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [53]:
%sql SELECT COMMUNITY_AREA_NUMBER,(SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA C WHERE C.COMMUNITY_AREA_NUMBER=CD.COMMUNITY_AREA_NUMBER) AS "COMMUNITY_AREA_NAME" , COUNT(CASE_NUMBER)  AS "CASE_COUNT"\
FROM CHICAGO_CRIME_DATA CD\
GROUP BY COMMUNITY_AREA_NUMBER \
ORDER BY CASE_COUNT DESC LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(25.0, 'Austin', 43)]

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>